PyPDF2
pdfminer.six==20191110
attrs==19.3.0
certifi==2019.11.28
cryptography==2.8
httplib2==0.15.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
Jinja2==2.10.3
jsonpatch==1.24
jsonpointer==2.0
jsonschema==3.2.0
MarkupSafe==1.1.1
requests==2.22.0
requests-unixsocket==0.2.0
service-identity==16.0.0
six==1.13.0
urllib3==1.25.7
